/* Styling for the params page */
.params-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; /* Padding from the header to the inputs */
  height: 100vh;
  justify-content: flex-start; /* Align items to the top */
}
