/* ParamsButton.css */

.params-button {
  margin-top: 100px;
  margin-bottom: 50px;
  display: block; /* Keep button as a block element */
  padding: 10px 20px; /* Padding for a smaller button */
  background-color: #000000; /* Black background */
  color: white; /* White text */
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  text-align: center; /* Center the text */
  border-radius: 50px; /* More rounded corners for modern look */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s, transform 0.2s ease-in-out; /* Smooth hover effect */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  width: auto; /* Button size adjusts to text */
  max-width: 200px; /* Optional: Limit max width */
  border: 2px solid rgb(155, 186, 218); /* Black border with subtle thickness */
}

.params-button:hover {
  background-color: #60a5fa; /* Darker green when hovering */
  transform: scale(1.05); /* Slightly increase the button size on hover */
  cursor: pointer; /* Change cursor to indicate the button is clickable */
}
